<h2>Write your question</h2>

  <form id="question_box" action='/question/new' method="post">
  <br>
  <input id='box' type="text" name="question">
  <br>
  <input type="submit" value="Ask">
 </form>
 <br>